<div class="nested-fields">
  <%= f.label "Address" %>
  <%= f.text_field :address %>

  <%= f.label "City" %>
  <%= f.text_field :city %>

  <%= f.label "State" %>
  <%= f.text_field :state %>
  <%= link_to_remove_association "Delete", f %>
</div>