<div class="nested-fields my-2">
  <%= f.label "Address" %>
  <%= f.text_field :address %>

  <%= f.label "City" %>
  <%= f.text_field :city %>

  <%= f.label "State" %>
  <%= f.text_field :state %>
  
  <%= link_to_remove_association "Delete", f %>

  
</div>

<script>
const id = <%= %>
  $('#user_addresses_attributes_<%=  %>_state').on('change', function() {
    // Set selected option as variable
    var selectValue = $(this).val();
    // Empty the target field
    $('#user_addresses_attributes_0_city').disable();
    
    
</script>