<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.fields_for :addresses do |t| %>
      <%= render "address_fields", :f => t %>
    <% end %>
    <div>
      <br>
      <%= link_to_add_association "Add Address", form, :addresses %> <!-- (*) -->
    </div>
  </div>

  <div>
    <%= form.label :profile_pic do %>
      <% if form.object.profile_pic.attached? %>
        The currently attached profile picture is <br /> 
        <%= image_tag(url_for(form.object.profile_pic)) %><br />
        Click here to replace this file.
      <% else %>
        No file has been uploaded yet. Please pick a file.
      <% end %>
    <% end %>
    <%= form.file_field :profile_pic %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
