<div class="ms-5">
  <h1>User</h1>

  <div id="users">
    <% current_user.pic.each_with_index do |p, i| %>
      <div class="d-flex align-items-center my-2">
        <%= image_tag(url_for(p)) %>
        <%= button_to "Delete Image", user_delete_pic_path(pic_id: i) %>
      </div>
    <% end %>

    <p>
      <strong>User name:</strong>
      <%= current_user.user_name %>
    </p>

    <p>
      <strong>Full name:</strong>
      <%= current_user.full_name %>
    </p>

    <p>
      <%= link_to "Add more details", edit_user_path(current_user) %>
    </p>
  </div>

  <%= button_to "logout", destroy_user_session_path, method: :delete  %>
</div>