<div class="ms-5">
  <h1>User</h1>

  <div id="users">
    <%= image_tag(url_for(current_user.profile_pic)) %>

    <p>
      <strong>User name:</strong>
      <%= current_user.user_name %>
    </p>

    <p>
      <strong>Full name:</strong>
      <%= current_user.full_name %>
    </p>

    <p>
      <%= link_to "Add more details", edit_user_path(current_user) %>
    </p>
  </div>

  <%= button_to "logout", destroy_user_session_path, method: :delete  %>
</div>